---
import Layout from '../layouts/Layout.astro';
import type { Site } from '../schemas/site';
import { loadSites } from '../utils/sites';

const sites = await loadSites();
---

<Layout title="Welcome home, idiot.">
  <div class="container">
    <h1>Hello, World!</h1>
    <div class="sites">
      {
        sites.map((site: Site) => (
          <div class="site">
            <a href={site.url} data-hotkey={site.hotkey}>
              <h2 class="site-label">{site.label}</h2>
              <p class="site-url">
                {site.hotkey && `(${site.hotkey})`}
                {site.url}
              </p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<script is:inline>
  const nodes = document.querySelectorAll('[data-hotkey]');
  const hotkeys = [...nodes].map((node) => ({
    hotkey: node.dataset.hotkey,
    href: node.href,
  }));

  document.addEventListener('keydown', (evt) => {
    for (const { hotkey, href } of hotkeys) {
      if (evt.key.toLowerCase() === hotkey.toLowerCase()) {
        evt.preventDefault();
        window.location.href = href;
      }
    }
  });
</script>

<style is:inline>
  .sites {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2em;
    gap: 1em;
  }

  .site {
    border: 1px solid var(--color-link-decoration);
    border-radius: 0.25em;
  }

  .site a {
    display: block;
    text-decoration: none;
    padding: 1em;
    text-align: center;
  }

  .site a:hover {
    text-shadow: 0 0 0.5em currentColor;
  }

  .site-title {
    margin: 0;
  }

  .site-url {
    font-size: 0.875em;
    font-style: italic;
  }
</style>
